spring:
  profiles:
    active: dev
    include: db, oauth, jwt, mail, aws

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
  api-docs:
    path: /v3/api-docs
    enabled: true
  packages-to-scan: com.balybus.galaxy

management:
  metrics:
    tags:
      application:
        ${spring.application.name}
  endpoints:
    web:
      exposure:
        include: prometheus

cors:
  allowed:
    origins: http://dolbom-work.co.kr:8080, http://dolbom-work.co.kr:80, http://dolbom-work.co.kr:5173, http://dolbom-work.co.kr, https://dolbom-work.co.kr:443, http://dolbom-work.co.kr:443
#    origins: http://54.180.195.94:8080, http://dolbom-work.co.kr:80, http://54.180.195.94:5173, http://54.180.195.94, https://54.180.195.94:443, http://54.180.195.94:443
